<div class="card bg-white" style="width: 300px; min-height: 31rem;">
  <div class="header ">
    <img [src]="item.productImgPath ? item.productImgPath : '../../../assets/default.jpg'" alt="" srcset="">

  </div>
  <div class="body">
    <span class="category">cloth</span>
    <h1>{{item.title}}</h1>
    <p>{{item.description}}</p>
    <div>
      <span>Price</span>
      <h2 class="ml-1">${{item.price}}</h2>
      <h2 class="ml-1 fullPrice" >${{item.discount+ item.price}}</h2>

    </div>
  </div>
  <div class="footer ">
    <a class="btn edit" (click)="sendId(item.id ?? '')"> <i class="pi pi-file-edit" style="font-size: 15px"></i> Edit</a>
    <a class="btn delete"  (click)="sendId(item.id ?? '')"> <i class="pi pi-trash" style="font-size: 15px"></i> Delete</a>
  </div>
</div>
