<div class="card bg-white" style="width: 300px; min-height: 31rem;">
  <div class="header ">
    <p-skeleton  width="16rem" height="11rem"></p-skeleton>

  </div>
  <div class="body">
    <span class="category"><p-skeleton width="4rem" height="1rem" styleClass="mb-2"></p-skeleton></span>
    <h1><p-skeleton width="16rem" height="1rem" styleClass="mb-2"></p-skeleton></h1>
    <p><p-skeleton width="16rem" height="3rem" styleClass="mb-2"></p-skeleton></p>
    <div>
      <p-skeleton width="16rem" height="1rem" styleClass="mb-2"></p-skeleton>
    </div>
  </div>
  <div class="footer ">
    <p-skeleton width="5rem" height="2rem"></p-skeleton>
    <p-skeleton width="5rem" height="2rem"></p-skeleton>
  </div>
</div>
